@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --text-black: #171717;
  }
}

body {
  color: var(--text-black);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .left-1-8 {
    left: 12.5%;
  }
}